.shop_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
  }
  .shop_container > span {
    font-size: 1.4rem;
  }
  .shop_container > h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .shop_button_container {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
  }
