.icon_text {
    display: flex;
    height: 3.5rem;
    align-items: center;
  }
  .icon_text > span {
    font-size: 1.6rem;
    cursor: pointer;
    color:#e0e0e0
  }
  #icon_style{
      font-size: 2.5rem;
      padding-right: 1rem;
      display: flex;
      justify-content: center;
  }
  