.footer_container {
    background-color: #333333;
    position: relative;
    margin-top: 10rem;
  }
  .footer_content {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem 6rem 0rem;
  }
  .footer_bottom {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
  }
  .footer_bottom > span {
    font-size: 1.2rem;
  }